@tailwind base;
@tailwind components;
@tailwind utilities;



/* Root styles for dark mode support */
:root {
  color-scheme: light dark;
}

html {
  @apply transition-colors duration-200;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply transition-colors duration-200;
}

.playwrite-vn-guides-regular {
  font-family: "Playwrite VN Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tektur-400 {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Example: Custom padding-bottom utility class */
.padding-bottom-custom {
  padding-bottom: 300px;
  /* Default to 64px */
}


.libre-franklin-regular {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

@media screen and (max-width: 425px) {
  .media {
    width: 75%;
  }
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 85px;
  height: 35px;
  --g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #fff 0);
  --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l6 1s infinite alternate;
}

@keyframes l6 {
  0% {
    background-position: 0 50%, 50% 50%, 100% 50%
  }

  20% {
    background-position: 0 0, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0 100%, 50% 0, 100% 50%
  }

  60% {
    background-position: 0 50%, 50% 100%, 100% 0
  }

  80% {
    background-position: 0 50%, 50% 50%, 100% 100%
  }

  100% {
    background-position: 0 50%, 50% 50%, 100% 50%
  }
}