@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root styles for dark mode support */
:root {
  color-scheme: light dark;
}

html {
  @apply transition-colors duration-200;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply transition-colors duration-200;
}

.playwrite-vn-guides-regular {
  font-family: "Playwrite VN Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tektur-400 {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Example: Custom padding-bottom utility class */
.padding-bottom-custom {
  padding-bottom: 300px; /* Default to 64px */
}